@mixin small {
    @media screen and (min-width: 576px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin medium {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin large {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin xxl {
    @media screen and (min-width: 1400px) {
        @content;
    }
}

@mixin displayFlex($dir: "row") {
    display: flex;
    flex-direction: $dir;
    align-items: center;
    justify-content: space-between;
}